
body{
    background-image: url("/raven.png");
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    margin: 50px;
}
h1, h2{
    color: #800000;
}
label{
    color:#f1f1f1;
    display:block;
}

a{
    color: #000000;
}
nav{
    background-color: #334663;
}
li{
    padding-left: 10px;

}
input{
    width: 220px;
    height: 30px;
    display: block;
    margin-top: 10px;
}